/* regole generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.col {
    float: left;
    width: calc(100%/3);
}


/* regole contenitore generale */
#container {
    margin: 50px auto;
    width: 80%;
}



/* header stile */
h1 {
    color: rgb(255, 36, 156);
}



/* regole stile section con float */
section {
    margin-top: 20px;    
}


/* prova sulla section con riga e colonna */
.row {
    border: solid 2px black;
    
}

.col {
    border: 2px solid red;
    height: 200px;
    background-color: rgb(0, 255, 128);
    
}